* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    color: #333;
}

textarea{
    font-family: Arial, sans-serif;
    font-size: 1em;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

#new-quote, #edit-quote {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 220px;

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#quo, #author {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

textarea::placeholder{
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#quo::placeholder, #author::placeholder {
    color: #aaa;
}

#new-but {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    text-align: center;
}

#new-but:hover {
    background-color: #45a049;
}
