* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

#newQuoteBtn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#newQuoteBtn:hover {
    background-color: #45a049;
}

.quotes-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}

.quote-r {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.cont {
    width: 50%; /* Ensure each .cont takes up half the width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    gap: 10px; /* Space between quote and buttons */
}

.quote-b {
    background-size: cover;
    background-position: center;
    /* min-height: 250px;
    max-height: 300px;
    min-width: 500px;
    max-width: 600px; Limits the image height */
    width: 600px;
    height: 300px;
    padding: 20px;
    color: white;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Keeps content within bounds */

}

.quote {
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    margin-bottom: 10px;
    z-index: 1;
    overflow: auto; /* Allows scrolling if text overflows */
    max-height: 60%; /* Limit the quote height to avoid overflow */
}

.author {
    font-size: 0.7em;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    margin: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    z-index: 1;
    overflow: auto; /* Prevents author overflow */
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.form-edit, .form-delete {
    display: inline-block;
}

.but-edit, .but-del {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 70px;
    text-align: center;
}

.but-edit {
    background-color: #2196F3;
}

.but-edit:hover {
    background-color: #1e88e5;
}

.but-del {
    background-color: #f44336;
}

.but-del:hover {
    background-color: #d32f2f;
}
